* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F7;

}

.header-big {
    position: fixed;
    width: 100%;
    height: 52px;
    background-color: #F5F5F7CC;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    z-index: 100;
    top: 0;
    display: block;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.nav-img {
    width: 14px;
    height: 14px;
}

nav a {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}


.sub-header {
    width: 100%;
    height: 52px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 52px; */
    z-index: 1;
}

.header-gradent {
    width: 100%;
}


.first-hed {
    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    color: #6E6E73;

}

.color-first-hed {
    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    background-image:
        linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
    color: transparent;
    background-clip: text;
    padding-right: 4px;
}

.hed-div {
    display: flex;
    flex-direction: row;
    height: 248px;
    width: 100%;
    padding-top: 77px;
    padding-bottom: 61px;
    padding-left: 140px;
    position: relative;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 9px;
    /* width: 100%; */
    position: absolute;
    left: 80%;
}

#icon {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743886708/store-chat-holiday-specialist-icon-202411_AV3_nthfnm.png);
    background-size: cover;
    width: 35px;
    height: 35px;
}

.help {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-x: scroll;
    padding-left: 140px;
    padding-right: 140px;
}

.menu-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 78px;
    width: 120px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.menu-text {
    padding-top: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.mac {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887140/store-card-13-mac-nav-202410_dn48yo.png);
}

.iphone {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887141/store-card-13-iphone-nav-202409_GEO_US_eav0qo.png);
}

.ipad {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887141/store-card-13-ipad-nav-202405_pobqsk.png);
}

.iwatch {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743886915/store-card-13-watch-nav-202409_rjd0xw.png);
}

.vision {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887140/store-card-13-vision-pro-nav-202401_rrlk67.png);
}

.airpod {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743886909/store-card-13-airpods-nav-202409_xvfcxd.png);
}

.airtag {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743886914/store-card-13-airtags-nav-202108_wc8ixa.png);
}

.appletv {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743886914/store-card-13-appletv-nav-202210_ooetgw.png);
}

.homepod {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887148/store-card-13-homepod-nav-202301_oitlox.png);
}

.accessories {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743886908/store-card-13-accessories-nav-202409_w1h5gv.png);
}


.applecard {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887148/store-card-13-holiday-giftcards-asit-agc-nav-202111_oo4kfy.png);
}

.second-hed {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #6E6E73;
}

.color-second-hed {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    background-image:
        linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
    color: transparent;
    background-clip: text;
    padding-right: 4px;
}

.text-div {
    display: flex;
    flex-direction: row;
    padding-top: 77px;
    padding-bottom: 24px;
    padding-left: 140px;
}

.box-1 {
    background-size: cover;
    min-width: 480px;
    height: 500px;
    border-radius: 18px;
    background-color: white;
    margin: 10px;
    object-fit: cover;
    border: 1px solid#FFFFFF;
    box-shadow: 2px solid #F5F5F7CC;
}

#ip16pro {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887889/store-card-50-holiday-iphone-pro-202411_GEO_US_svneae.png)
}

.top {
    font-weight: 700;
    font-size: 12px;
    color: #B64400;
    line-height: 16px;
    padding-top: 31px;
    padding-left: 30px;
}

.toping {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #1D1D1F;
    padding-left: 30px;
}

.toping1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #1D1D1F;
    padding-left: 30px;
    padding-top: 54px;
}

.toping-message {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1D1D1F;
    padding-left: 30px;
    padding-top: 9px;
}

#watchser10 {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887889/store-card-50-holiday-watch-s10-202411_i3qg1r.png);
}

#ipadmini {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887889/store-card-50-holiday-ipad-mini-202411_apf43r.png);
}

#macbookpro {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743888131/dv_sdcl64.jpg);
}

#iphone16e {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743891598/16e_n0fuuh.jpg);
}

#iphone16 {
    background-image: url(assets/main2-3.png);
}

#iwatchultra {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743880486/Figure_2_wcet9l.png);
}

#ipadair {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743891602/saf_kvnixi.jpg);
}

#macbookair {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743891598/air_hmlp6d.jpg);
}

.box-flex {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: 100%;
    padding-left: 140px;
    padding-right: 140px;
}

.box-2-first {
    background-size: cover;
    min-width: 400px;
    height: 500px;
    border-radius: 18px;
    margin: 10px;
    padding: 10px;

}

.box-2 {
    background-color: white;
    min-width: 313px;
    height: 500px;
    border-radius: 18px;
    overflow-y: hidden;
    margin: 10px;
}

.box-inside {
    background-size: cover;
    background-position: center;
    max-width: 230px;
    height: 230px;
    margin-top: 71px;
    margin-left: 41px;
}

#box2-back {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887888/store-card-40-holiday-engraving-202411_hgi6bx.png);
}

#ipodmax {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887886/airpods-max-select-202409-purple_wvxefa.png);
}

#ipodpro2 {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887886/airpods-pro-2-hero-select-202409_qxgkr6.png);
}

#ipod4-active {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887886/airpods-4-anc-select-202409_ich0of.png);
}

#pencilpro {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887887/MX2D3_wm3ero.png);
}

#tag {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743886914/store-card-13-airtags-nav-202108_wc8ixa.png);
}

#ipod4 {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743890232/aorpod4_ubfafs.png);
}

#pencil-2nd {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887887/MX2D3_wm3ero.png);
}

#airtag-4pack {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743890232/airtag4_ftcf2i.png);
}

#beats {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743890232/bitpro_trkpq3.png);
}

.box-2-top {
    font-weight: 700;
    font-size: 12px;
    color: #B64400;
    line-height: 16px;
    padding-top: 20px;
    padding-left: 30px;
}

.box2color {
    color: #6E6E73;
}

.box-2-toping {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #1D1D1F;
    padding-left: 30px;
    padding-top: 10px;
}

.box-2-toping-price {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1D1D1F;
    padding-left: 30px;
    padding-top: 55px;
}

.box-2-padding {
    padding-top: 50px;
}

.box-inside-store {
    background-size: cover;
    background-position: center;
    max-width: 230px;
    height: 230px;
    margin-bottom: 71px;
    margin-left: 41px;

}

.toping-2-store {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #1D1D1F;
    padding-left: 30px;
    padding-top: 10px;
}

.box-2-toping-store {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1D1D1F;
    padding-left: 30px;
    padding-top: 15px;
}

#box3-back {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887888/store-card-40-holiday-quick-picks-202411_my3ivv.png);
}

#iphonecase {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887887/MYY73_gmaph7.png);
}

#homepodwhite {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887886/homepod-mini-select-white-202110_z2b7u6.png);
}

#smartfolio {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887887/MWK73_xow6tx.png)
}

#beatssolo4 {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887887/MUW43_ptbfrr.png);
}

#sportloop {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743890232/sportband_tpqkua.png);
}

#magcase {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743890615/magcaseb_gociku.png);
}

#siloconcase {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743890614/magcase_zu4hqa.png);
}

#storecard {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887148/store-card-13-holiday-giftcards-asit-agc-nav-202111_oo4kfy.png);
}

#storebag {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887889/store-card-50-holiday-delivery-pickup-202411_cx2qbz.png);
}

.box-4-grid {
    background-color: white;
    min-width: 313px;
    height: 240px;
    border-radius: 18px;
    overflow-y: hidden;
    margin: 10px;
}

.box-4-grid-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.toping4 {
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #1D1D1F;
    margin-left: 30px;
    margin-top: 82px;
}

#store-card {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743873488/tradein-2_hnfptw.png);
}

.top-4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #1D1D1F;
    padding-left: 20px;
    padding-top: 20px;
}

#storewoman {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743892072/mns_w67kkb.jpg);
}

#shopphone {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743892311/dsvvs_ir9fvf.jpg);
}

#people {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743892074/sads_ko3tgg.jpg);
}

#genius {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743892190/gen_q7qc6u.jpg);
}

#applemusic {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887888/store-card-50-holiday-apple-music-202411_lfylnb.png);
}

#christmas {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887888/store-card-50-holiday-apple-tv-202411_z2vzwx.png);
}

#appleservice {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887889/store-card-50-subscriptions-202108_GEO_US_u2tdje.png);
}

#newfeatures {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743890924/ex_ufehxi.png);
}

#applecare {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743891599/care_teogvb.jpg);
}

#applepay {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743891601/paysd_lnwbzm.jpg);
}

#home {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743891600/homefs_jatbyb.jpg);
}

.top-colors-white {
    color: white;
}

.span-1 {
    padding-left: 140px;
}

.span-pad {
    margin-top: 77px;
    margin-bottom: 24px;
    display: block;
}

#one-stop {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887887/iphone-card-40-carriertrade-202409_lvgvlr.png);
}

#buy {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887887/store-card-40-bts-edu-macbook-air-ipad-air-202406_bht56q.png);
}

#shoponeyear {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887888/store-card-40-refurb-202408_szpdkz.png);
}

#fromwork {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743887886/iphone-card-40-business-202409_zoim6x.png);
}

#specialpricing {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743892193/oejf_lao1ii.jpg);
}

#active {
    background-image: url(https://res.cloudinary.com/drhm9rfyi/image/upload/v1743892194/oejsff_jiv96e.jpg);
}

.header-mid {
    position: fixed;
    width: 100%;
    height: 48px;
    background-color: #F5F5F7CC;
    backdrop-filter: blur(20px);
    display: flex;
    z-index: 100;
    top: 0;
    display: none;
}

.mid-flex-ss {
    display: flex;
    gap: 24px;
}

.mid-flex-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


@media only screen and (max-width: 868px) {

    .header-big {
        display: none;
    }

    .header-mid {
        display: block;
      
    }

    .sub-header {
        display: none;
    }

    .header-gradent{
        margin-top: 48px;
    }

    .icons{
        display: none;
    }

    .color-first-hed{
        font-size: 35px;
        line-height: 42px;
    }
    
    .first-hed{
        font-size: 33px;
        line-height: 40px;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        overflow-x: scroll;
        padding-left: 70px;
        padding-right: 70px;
    }

    .menu-img {
        height: 68px;
        width: 100px;
    }

    .menu-text {
        padding-top: 14px;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }

    .text-div {
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        padding-bottom: 18px;
        padding-left: 70px;
    }
    
    .box-1 {
        min-width: 380px;
        height: 400px;
    }

    .top {
        font-weight: 700;
        font-size: 12px;
        color: #B64400;
        line-height: 16px;
        padding-top: 31px;
        padding-left: 20px;
    }

    .toping {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #1D1D1F;
        padding-left: 20px;
    }
    
    .toping1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #1D1D1F;
        padding-left: 20px;
        padding-top: 54px;
    }
    
    .toping-message {
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        color: #1D1D1F;
        padding-left: 20px;
        padding-top: 9px;
    }

    .box-flex {
        padding-left: 70px;
        padding-right: 70px;
    }

    .box-2-first {
        min-width: 300px;
        height: 400px;
    }
    
    .box-2{
        min-width: 300px;
        height: 400px;
    }


.box-2-top {
    font-weight: 700;
    font-size: 12px;
    color: #B64400;
    line-height: 16px;
    padding-top: 10px;
    padding-left: 20px;
}

.box2color {
    color: #6E6E73;
}

.box-2-toping {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #1D1D1F;
    padding-left: 20px;
    padding-top: 10px;
}

.box-2-toping-price {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1D1D1F;
    padding-left: 20px;
    padding-top: 30px;
}

.box-2-padding {
    padding-top: 35px;
}

.box-inside {
    max-width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-left: 41px;
}

.box-4-grid {
    min-width: 220px;
    height: 190px;
}

.toping4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1D1D1F;
    margin-left: 20px;
    margin-top: 52px;
}

.top-4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.hed-div {
    display: flex;
    flex-direction: row;
    height: 170px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 60px;
    position: relative;
}

}






@media only screen and (max-width: 508px) {
    .color-first-hed{
        font-size:27px;
        line-height: 35px;
    }

    .first-hed{
        font-size: 23px;
        line-height: 25px;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow-x: scroll;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-img {
        height: 48px;
        width: 90px;
    }

    .menu-text {
        padding-top: 10px;
        font-size: 10px;
        line-height: 15px;
    }

    .text-div {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 13px;
        padding-left: 20px;
    }
    
    .box-1 {
        min-width: 330px;
        height: 300px;
    }

    .top {
        font-weight: 700;
        font-size: 10px;
        color: #B64400;
        line-height: 16px;
        padding-top: 31px;
        padding-left: 15px;
    }

    .toping {
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        color: #1D1D1F;
        padding-left: 15px;
    }
    
    .toping1 {
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        color: #1D1D1F;
        padding-left: 15px;
        padding-top: 34px;
    }
    
    .toping-message {
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #1D1D1F;
        padding-left: 15px;
        padding-top: 9px;
    }

    .box-flex {
        padding-left: 30px;
        padding-right: 30px;
    }

    .box-2-first {
        min-width: 300px;
        height: 400px;
    }
    
    .box-2 {
        min-width: 300px;
        height: 400px;
    }


    .box-2-top {
        font-weight: 700;
        font-size: 12px;
        color: #B64400;
        line-height: 16px;
        padding-top: 10px;
        padding-left: 15px;
    }
    
    .box2color {
        color: #6E6E73;
    }
    
    .box-2-toping {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: #1D1D1F;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .box-2-toping-price {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        color: #1D1D1F;
        padding-left: 10px;
        padding-top: 30px;
    }
    
    .box-2-padding {
        padding-top: 20px;
    }
    
    .box-inside {
        max-width: 180px;
        height: 180px;
        margin-top: 30px;
        margin-left: 40px;
    }

    .box-4-grid {
        min-width: 180px;
        height: 140px;
    }

    .toping4 {
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: #1D1D1F;
        margin-left: 15px;
        margin-top: 32px;
    }

    .top-4 {
        font-size: 18px;
        line-height: 20px;
        color: #1D1D1F;
        padding-left: 20px;
        padding-top: 20px;
    }

    .hed-div {
        height: 130px;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        position: relative;
    }

    .top-colors-white {
        color: white;
    }
}
