
* {
    margin: 0
}

header {
    position: fixed;
    width: 100%;
    height: 52px;
    background-color: #F5F5F7CC;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.sub-header{
    width: 100%;
    height: 52px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 52px;
}

section {
    position: relative;
}

img {
    background-size: cover;
    width: 100%;
}
#back-img{
    height: 692px;
    width: 100%;
}

h1 {
    font-weight: 600;
    font-size: 51px;
    line-height: 60px;
    color: #F5F5F7;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding-top: 6px;
    color: #F5F5F7;
}
.btn{ font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 12px 21px;
    margin-right: 17px;
    margin-top: 19px;
    border-radius: 50px;
    border: 0;
}

.button-primary {
    color: #FFFFFF;
    background-color: #0071E3;
    border: 0;
}

.button-outline {
    color: #2997FF;
    background-color: transparent;
    border: 1;
    border-color: #2997FF;
}

.button-second{
    color:#000000;
    background-color: #F5F5F7;
}

.button-second-outline {
    color: #F5F5F7;
    background-color: transparent;
    border: 1;
    border-color:#F5F5F7;
}

.text-center {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 476px;
    top: 55px;
}

.text-end {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 476px;
    bottom: 55px;
}

.font-black{
    color: #000000;
}

.ipadair{
    background-image: url(https://s3-alpha-sig.figma.com/img/f34a/75b3/ce6969be90a261c4e631ecdfff8d60c9?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZgSqagsTGr-I9WEYesenFiXoBSZwwySeVV~iOWo1vvLFtFzBVUPW6I2S00OSkofkZlnfYaLlIb6rrRWhjrnQ3I9oAonOC1MAztnhA~zduXWtWz6JKHZnk-T043Ei~YHTS6f195hf9WPggdzjN~TxOKmz72zlJmKLnyJpHrWecJPrSWhZgkrpPBFyzitmtYQ4bCwusm9fQUq21J1xmbeXZR5tZ6ijYTay33-4DJb0bWT8XINEDGaptf6Pydfd11WhwzV4CtvVcn9-bwOUi8x5-x5voBZEG5hhuP0b9jQdi~56HifMhhTUkgGF5mhY3U8Z~fGmMoTLlhqFjTk0Ie6GUg__);
}
.airpods{
    background-image: url(https://s3-alpha-sig.figma.com/img/ff94/8cac/d279c7a6da7b42f7259842d3eef7e869?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BCgPf9JWjgy3uvaJl4GxL4gddVDm5ntRlUU0YF6XkcxCgtrqGYFk2xjKN0eT1QK2qzcKnFqnWJjFCEyF6VKpHVIryNixuBnM2GwZOL0gq680N058lKwJd0V0yYSb3qqG2hhInShjpCvabV1u1MBX09EJ4IJ0~xAFBAEQqdhzlFuiDicpcnbLND8tKAMzztuHj0SQ2d9uZU81tAQ7iO064ThbFy3l9wzUJ8wUOh5s8pu4fsF6wZet3Ih~ehlaDBVuBA3Xzqp2ZEgRBlAX9McXd~EGBkZ4iCry2kNEhHhwurRP6tmfU9PTSADH1gA~bKRysHGKYE~-aXKG6TWByzbCdQ__);
}
.iwatch{
    background-image: url(https://s3-alpha-sig.figma.com/img/d6e5/44be/6057fe0fa0741e7386c61a4fb5ddb17f?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IFCNIXa04fAaMDTcva0X3K7yszLwRG-HtgOL-VLK-CEaAmO9Oo4NJdIW4xZN6DOAuhWYZtZ8LIuyXyrBllmtpNb1ucU6gazBVqiVTvR2FNQcfoojFTcrS5kcInuTy1N6RQWEqBgAsq3TeO4~FVT9Dx5BclystQTNYo3WelvuAMDZf0EGmSg3ywafXQhy4JSScofwl2C9eC0zKP4JJCypDmN7dmfEd1CUNljO7HF2tc0fXR-7OkcahRK-xbllHEs1Gy6JaY11pFiekid~dqIdvKED8UYsELPetCV74q1mLJTLplyUm1MCXxvMtw0kssnnccGJ2XkEnTDMWRGR5B3Itg__);
}
.macbookair{
    background-image: url(https://s3-alpha-sig.figma.com/img/2895/63ba/49fcacc7cacfaa9dee97b7af3642bb76?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Uwja-DKHf8cepMI~6JTxVvI0YF3PY8v6uGzsvezxicp6Ol0TT8zBxMloeZjwK9aT~vM6oy~0Ktz5o2O~hyZhDSRzOGv4esJbCLhGeoIlnTI-Ow-fF6FoFQkQZsmFtyzrZauUlLdt6EjQ7NF5KsTV7JyMTMDfXrKMozX35NU9stTAs1F3TIIl6d7bXR2pYdXf4VVuSqekGNSmz6F1f6LULETNzheos283xPZjyaTC~Dy1pVayVHWpgGhPN5Xzjoc1SMtToYx4cWCIb-uyhmsOESoDKiDCPpS4JIRs84czSThrlousbGRxrRsQSiJJ6hLvgRax0rMkMU49f76XNX7Tlw__);
}
.trade{
    background-image: url(https://s3-alpha-sig.figma.com/img/b772/6e78/7e585f3bcc4709d1a042f4f9f7c80c66?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=D1muqYgO5KurXZLafhoVid0Z5iexmmMVd-9JeLg5NIMSD9AZAnKPaRdol8auYNUIidzeFrGSXYojDYYIEHSJJTjynbzZd2orVCxvxRxemaNUHL09493yGcIGinGqsfX63B-4Lyn0KuMooSqbWwMR3Aka-a-RYkH-xeu4UEATTV2rRMud-JUlBbBhFGx-Oo26tiuxyBHjPPC-ghyGChrz91ec3hlhaNs8GEqJrNUBU7TM9k7JznjMuy0R7AgYywjIB4FU6B-cOo5uNw2rN-2Z4pB3EM67YxtjvjP7JaLJg13COuItekjQyqRIne5i2eFqsmWiviZgm7dgQY5Fj9EciA__);
}
.card{
    background-image: url(https://s3-alpha-sig.figma.com/img/47cc/645e/82102fb94058ac8b07709b8b6d85fef7?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bQ8W5RvJNaXahlbklWCNp0OHB7nIzHKruxABUem8uumb2mt44uUDKN64azjDTi88eVEWxnJY4Wu4Ls7QAYoYUmUJWwGc2nw6PzgefFCnb5hEhUS0b-KETyfIGuTO2E1SR3WrERYlzl2ZntXCJeQU2h46HSlXfm8t4jS6ZUOpgOkGDJH4UIQyXgBfOilk7z-pWvVhcINt4xKmirZEh6aU1hSZmBgTBIiteNcZXf9utUtdGZbSgIRa08zJGP9~VrEoHNWMsvWEB-j6-Z3TjrfhP~QEKnZUdWKNw5yoRRDr5QzKfku21MidUXK1CTL5Dxv4BzhSDeNOnPJU~hqxmkdpvA__);
}
.border-box{
    width:100% ;
    height: 580px;
    background-size: cover;
 }
